#caixa_cabecalho{
    width: 100%;
    height: 140px;
    transition: all 2s;
    position: fixed;
    z-index: 999;
    background-color: #fff;
}

#caixa_cabecalho nav{
    box-shadow: none;
}

body{
    background-color: #fff;
}

#container_onde_estamos{
    width: 100%;
    height: 800px;
    background-image: url("../images/bg_localizacao.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#container_onde_estamos .conteudo{
    padding-top: 50px;
    box-sizing: border-box;
}

#caixa_texto_onde_estamos{
    width: 95%;
    height: 95%;
}


.linha_texto_onde_estamos{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 200px;
}

.linha_texto_onde_estamos h1{
    font-size: 120px;
    font-family: Bangers, 'Bangers';
    opacity: 0;
    color: #193097;
}

.linha_texto_onde_estamos.m{
    padding-top: 0px;
}

.linha_texto_onde_estamos.m h1{
    font-size: 140px;
}

.linha_texto_onde_estamos.visivel h1{
    opacity: 1;
    transition: all 2.5s;
}

/* Área das informações de localização da empresa */

#container_informacoes_onde_estamos{
    width: 100%;
    height: 300px;
}

#container_informacoes_onde_estamos .conteudo{
    background-color: #ffffff;
}

#container_imagem_informacao_localizacao{
    width: 30%;
    height: 100%;
    float: left;
    padding-top: 40px;
    box-sizing: border-box;
}

#imagem_localizacao{
    width: 60%;
    height: 80%;
    background-image: url("../images/img_localizacao.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#container_descricao_informacoes{
    width: 70%;
    height: 100%;
    float: left;
    padding-top: 70px;
    padding-left: 20px;
    box-sizing: border-box;
}

#container_descricao_informacoes p{
    font-size: 30px;
    font-family: Bangers, 'Bangers';
    color: #9c9c9c;
    text-align: left;
}

/* Área do mapa com a localização da empresa */

#container_mapa_localizacao{
    width: 100%;
    height: 800px;
}

#container_mapa_localizacao iframe{
    width: 100%;
    height: 100%;
}

#caixa_rodape{
    background-color: rgb(55, 144, 63);
}

#caixa_rodape #caixa_conteudo_rodape{
    box-shadow: none;
}